{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}

    <main class="valign-wrapper">
        <div class="container">
            {{ form_start(form) }}
                <div class="input-field" id="form_chapter"></div>
            {{ form_end(form) }}
        </div>
    </main>


{% endblock %}
