{% extends 'base.html.twig' %}

{% block title %}Last-Minute{% endblock %}

{% block body %}

    {% if is_granted('ROLE_TEACHER') %}

        <main class="valign-wrapper">
            <div class="container">
                <div class="row center">
                <div>
                    <h1 class="white-text">Welcome To Teacher's Panel</h1>
                </div>
                    <hr style="border: 2px solid #e9632c;">
                    <h5 class="orange-text lighten-4">Choose one to add Questions</h5>
                <div class="col m3 offset-m3 s12">
                       <span><p class="white-text">Scan Paper</p><a href="{{ path('scanPaper') }}" class="btn btn-large btn-floating deep-purple lighten-2"><i class="large material-icons">add_circle_outline</i></a>

                    </span>
                </div>
                <div class="col m3 s12">
                        <span><p class="white-text">Add Manually</p><a href="{{ path('manualAdd') }}" class="btn btn-large btn-floating deep-purple lighten-1"><i class="large material-icons">add_circle_outline</i></a>

                    </span>
                </div>



                </div>
            </div>


        </main>

        {% elseif is_granted('ROLE_USER') %}

        <main class="valign-wrapper">
            <div class="container">

                <div class="row center">

                    <h1 class="title grey-text text-lighten-3">Last Minute Studies</h1>
                    <h6 class="orange-text lighten-3">A place to study even when there is just a day left for exam</h6>

                    <p class="white-text">Begin Here</p><a href="{{ path('student') }}" class="btn btn-large btn-floating deep-purple lighten-1"><i class="large material-icons">arrow_forward</i></a>


                    </span>



                </div>

            </div>
        </main>


        {% else %}
            <main class="valign-wrapper">
    <span class="container grey-text text-lighten-1">

             <p class="flow-text">Welcome to</p>
         <h1 class="title grey-text text-lighten-3">Last Minute Studies</h1>

          <blockquote class="flow-text">A place to study even when there is just a day left for exam</blockquote>
            <p>Login to continue:</p><a href="{{ path('SecuredLogin') }}" class="btn btn-large btn-floating deep-purple lighten-4"><i class="large material-icons">person</i></a>


             </span>
            </main>





    {% endif %}

{% endblock %}
