{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <main class="valign-wrapper">

     <div class="container" style="max-width: 600px;">
         <div class="row white z-depth-4" style="padding: 10px; border-radius: 10px;" >
             <div class="deep-purple-text lighten-4 center" style="padding: 10px;">
                 <p class="flow-text" style="font-weight: bold">LOGIN STUDENT | TEACHER</p>
             </div>
             <form class="col s12" action="{{ path('SecuredLogin') }}" id="formLogin" method="post">
                 <div class="row">
                     <div class="input-field col s12">
                         <input placeholder="Username" id="username" name="_username" type="text" required="required" class="validate">
                     </div>
                     <div class="input-field col s12">
                         <input id="password" placeholder="password" name="_password" type="password" class="validate" required="required">
                     </div>
                 </div>
                 <div class="row center">
                     {% if error %}
                         <p>{{ error.message }}</p>
                     {% endif %}
                 </div>
                 <div class="row center">
                     <input type="submit" value="Login" id="Login" name="Login" class="btn btn-large deep-purple lighten-1">
                 </div>
                 <div class="row center">
                     <a href="#">Forgot Password?</a>
                 </div>
                 <div class="row center">
                     <a href="{{ path('studentRegister') }}" class="orange-text">Not Registered?</a>
                 </div>

             </form>
         </div>
     </div>

    </main>

{% endblock %}
